.all {
	display:flex;
	flex-direction:column;
	background-color:#389738;
	padding:50px;
	padding-top:10px;
	border:20px solid #5c2525;
	border-radius:5%;
	width:400px;
}

.voca{
	color:white;
}

.plusForm{
	padding-top:10px;
}

.plusForm button{
	margin-top:10px;
}

.subtract{
	padding-top:10px;
}

.spriteTeacherImage {
	display:inline-block;
	background: url('teacher.jpg') no-repeat -33px -19px;
	width: 237px;
	height: 414px;
}

.teacherImage{
	position:absolute;
	z-index:999;
	top:50px; left:400px;
}

body{
	position:relative;
	margin-top:25vh;
	margin-left:35vw;
}

.timer{
	position:absolute;
	top:-100px; left:200px;
	font-size:xx-large;
}